.main-div{
    margin: .5rem auto;
    width: 500px;
}
.main-div__btn{
    display: block;
    height: 30px;
}
.panel1{
    position: relative;
    width: 100%;
    margin: .5rem auto .5rem;
    display: flex;
    align-items: flex-end;
}